body
{
    font-family: Î¢ÈíÑÅºÚ;
    font-size: 14px;
    color: #a8a8a8;
}

.card
{
    width: 930px;
    border: 1px solid red;
    height: 170px;
    margin: 0px auto;
}


#SelareaID
{
    height: 60PX;
    border: 1px solid #b9b9b9;
    width: 930px;
    margin: 0 auto;
    margin-top: 20px;
}

    #SelareaID .selcls
    {
        line-height: 60px;
    }

.selcls .span1
{
    padding-left: 15px;
}

.selcls .selectarea
{
    margin-left: 12px;
}

#SelareaID select
{
    color: #676767;
    height: 28px;
    line-height: 28px;
    width: 101px;
    border: 1px solid #b9b9b9;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    /*margin-right: 5px;*/
    -ms-appearance: none;
    background: url("/Images/xl_03.png") no-repeat scroll right center transparent;
}

.shopimg
{
    display: inline-block;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #b9b9b9;
    margin-left: 82px;
    line-height: 40px;
    width: 192px;
}

    .shopimg input
    {
        padding-left: 10px;
        margin-top: 0px;
        width: 154px;
        border: 0px;
        line-height: 14px;
        height: 24px;
        margin-left: 5px;
        /*border: 1px solid red;*/
    }

    .shopimg img
    {
        margin-top: 0px;
        vertical-align: middle;
        cursor: pointer;
    }

.shopMAP
{
    color: #333333;
    width: 930px;
    height: 38px;
    line-height: 38px;
    margin: 0 auto;
    padding-left: 15px;
    border-left: 1px solid #b9b9b9;
    border-right: 1px solid #b9b9b9;
}


.card-top
{
    width: 930px;
    height: 35px;
    margin: 0 auto;
    padding-left: 15px;
    background-color: #74c621;
    line-height: 35px;
    font-size: 18px;
    color: #ebf6e1;
    margin-top: 22px;
}

.card-left
{
    width: 930px;
    height: 113px;
    margin: 0 auto;
    border: 1px solid #b9b9b9;
    text-align: center;
}

    .card-left .tabone
    {
        vertical-align: middle;
        border-collapse: separate;
        margin-top: 18px;
    }

.tabone td
{
    /*border:1px solid red;*/
}

.td-table
{
    width: 246px;
}

.tabone .carspan
{
    border: 1px solid #b9b9b9;
    border-right: 0px;
    text-align: center;
    margin-left: 10px;
    width: 60px;
    line-height: 30px;
}

.tabone .timespan
{
    border: 1px solid #b9b9b9;
    border-right: 0px;
    text-align: center;
    margin-left: 10px;
    width: 90px;
    line-height: 30px;
}

.li2
{
    border: 1px solid #b9b9b9;
}

.li4
{
    /*border: 1px solid red;*/
    border-right: 0px;
}

.li5
{
    border: 0px;
    border-bottom: 1px solid #b9b9b9;
    border-top: 1px solid #b9b9b9;
}

.li6
{
    border: 1px solid #b9b9b9;
}

#tdbottom1, #tdbottom2, #tdbottom3
{
    position: relative;
    top: 13px;
}

.tabone select
{
    border: 0px;
    -moz-appearance: none;
    -webkit-appearance: none;
    /*margin-right: 5px;*/
    background: url("/Images/xl_03.png") no-repeat scroll right center transparent;
}

.shopselect
{
    width: 215px;
}

.timeselect
{
    width: 120px;
}

.table-row
{
    display: table-row;
    margin-top: 20px;
}

    .table-row li
    {
        float: left;
        height: 30px;
        display: table-cell;
    }

        .table-row li input, select, span
        {
            height: 30px;
            line-height: 30px;
        }

        .table-row li input
        {
            border: 1px solid #b9b9b9;
            padding-left: 3px;
            border-right: none;
            width: 135px;
            padding-left: 5px;
        }

        .table-row li img
        {
            padding-right: 10px;
        }

.selcarbtn
{
    background-color: #74c621;
    color: #e8f5dc;
    width: 134px;
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
    position: absolute;
}

.xuanche
{
    background-color: #74c621;
    color: #e8f5dc;
    width: 134px;
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
}

.card-left p
{
    /*position:relative;
    left:10%;*/
    display: inline;
    width: 87px;
    line-height: 28px;
    text-align: center;
    color: #343434;
}


.CarMsgdiv
{
    position: relative;
    border: 1px solid #b9b9b9;
    /*border: 1px solid red;*/
    top: 20px;
}

/*.CarMsgdiv .showrentcarDIV
    {
        border: 1px solid blue;
    }*/

.showrentcarDIV img
{
    height: 70%;
    width: 70%;
}

.showrentcarDIV .showcartab
{
    height: 140px;
    width: 100%;
}

.showcartab span
{
    line-height: 200%;
}

.showcartab .td1
{
    width: 266px;
    padding-left: 25px;
}

.showcartab .td2
{
    width: 285px;
}

.td2 .span1
{
    font-size: 18px;
}

.td2 .span3
{
}

.showcartab .td3
{
    width: 146px;
    /*border:1px solid red;*/
}


.td3 .span6
{
    font-size: 28px;
    padding-left: 0px;
    color: #74c621;
    /*border:1px solid red;*/
}

select
{
    padding-left: 5px;
}

.mapdiv
{
    cursor: default;
    position: absolute;
    z-index: 9999;
    border: .6px solid #ababab;
    border-radius: 5px;
    background: white;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0,0,0,.6);
    /*border:3px solid red;*/
    /*pointer-events:none;*/
}
    .mapdiv label
    {
        font-weight:100;
    }
    .mapdiv p
    {
        /*border:1px solid red;*/
        margin-bottom: 5px;
        /*height:28px;*/
    }

    .mapdiv span
    {
        height: 0;
        line-height: 0px;
    }
.jiantou
{
    border-top: 50px solid white;
    border-left: 20px solid transparent;
    border-right: 30px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -20px;
    left: 53%;
    transform: translate(-50%);
}

.mapbtn
{
    /*float:right;*/
    position: absolute;
    background-color: #74c621;
    width: 80px;
    line-height: 28px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    border: 1px solid;
    bottom: 10px;
    left: 60px;
    /*right: 60px;*/
}

.yuyuebtn
{
     left: 220px;
}

.closemap
{
    font-size: 23px;
    height: 16px;
    line-height: 10px;
    transform: rotate(45deg);
    color: #8E8F91;
    /*border:1px solid red;*/
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 14px;
    right: 8px;
}

.mapdiv input[type=radio]
{
    display: none;
}

.motel
{
    width: 100%;
    height: 100%;
    background:#C2C2C2;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 100;
    opacity: 0.8;
    display:none;
}
.AlertDia
{
    width: 400px;
    height: 160px;
    position: fixed;
    z-index: 200;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -200px;
    background: white;
    border: .6px solid #ababab;
    color: black;
    padding: 20px;
    line-height: 1.5;
    display:none;
}

    .AlertDia > h3
    {
        text-align: center;
        margin-top: -10px;
    }

    .AlertDia > p:last-of-type
    {
        text-align:center;
        /*border: 1px solid red;*/
        position:relative;
        bottom:-10px;
    }

        .AlertDia > p:last-of-type input
        {
            background-color: #74c621;
            width: 80px;
            height:30px;
            color: #fff;
            text-align: center;
            border-radius: 3px;
            border: 1px solid;
        }
